
{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<h1>About Drexel Bikes</h1>

<p>
    Drexel Bike is our personal portal to <a href="https://drexel.edu/campusservices/studentCenters/services/BikeShare/">Drexel Bike Share.</a>
</p>

<p>
    Drexel Bike Share is open to all students and employees with a valid Drexel University ID and in good standing with the University. 
    There is no rental fee to use a Drexel Bike Share bike.
</p>


{% endblock %}